.vs/slnx.sqlite
.vs/slnx1.sqlite
.vs/VSWorkspaceStates1.json
.vs/fusionx_dev/v18/.wsuo
.vs/fusionx_dev/FileContentIndex1/read.lock
.vs/fusionx_dev/v17/.wsuo
.vs/fusionx_dev/FileContentIndex1/0338733f-79b3-4385-b3e1-fa5c03995cff.vsidx
.vs/fusionx_dev/FileContentIndex/read.lock
.vs/fusionx_dev/FileContentIndex/0338733f-79b3-4385-b3e1-fa5c03995cff.vsidx
